.wrapper {
    position: relative;
    width: 300px;
    height: 424px;
    margin-left: 11%;
}

.secondary-1 {
    background-image: url("../../../assets/img/camisa.png");
    background-position: center;
    background-size: 100% 76%;
    background-repeat: no-repeat;
    position: absolute;
    width: 26%;
    height: 20%;
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
    background-blend-mode: screen;
}

.secondary-2 {
    background-image: url("../../../assets/img/camisa.png");
    background-position: center;
    background-size: 100% 76%;
    background-repeat: no-repeat;
    position: absolute;
    width: 26%;
    height: 20%;
    top: 12%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-blend-mode: screen;
}
.secondary-3 {
    background-image: url("../../../assets/img/camisa.png");
    background-position: center;
    background-size: 100% 76%;
    background-repeat: no-repeat;
    position: absolute;
    width: 26%;
    height: 20%;
    top: 35%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-blend-mode: screen;
}
.secondary-4 {
    background-image: url("../../../assets/img/camisa.png");
    background-position: center;
    background-size: 100% 76%;
    background-repeat: no-repeat;
    position: absolute;
    width: 26%;
    height: 20%;
    top: 61%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-blend-mode: screen;
}
.secondary-5 {
    background-image: url("../../../assets/img/camisa.png");
    background-position: center;
    background-size: 100% 76%;
    background-repeat: no-repeat;
    position: absolute;
    width: 26%;
    height: 20%;
    top: 84%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-blend-mode: screen;
}
.secondary-6 {
    background-image: url("../../../assets/img/camisa.png");
    background-position: center;
    background-size: 100% 76%;
    background-repeat: no-repeat;
    position: absolute;
    width: 26%;
    height: 20%;
    top: 12%;
    left: 130%;
    transform: translate(-50%, -50%);
    background-blend-mode: screen;
}
.secondary-7 {
    background-image: url("../../../assets/img/camisa.png");
    background-position: center;
    background-size: 100% 76%;
    background-repeat: no-repeat;
    position: absolute;
    width: 26%;
    height: 20%;
    top: 35%;
    left: 130%;
    transform: translate(-50%, -50%);
    background-blend-mode: screen;
}
.secondary-8 {
    background-image: url("../../../assets/img/camisa.png");
    background-position: center;
    background-size: 100% 76%;
    background-repeat: no-repeat;
    position: absolute;
    width: 26%;
    height: 20%;
    top: 61%;
    left: 130%;
    transform: translate(-50%, -50%);
    background-blend-mode: screen;
}
.secondary-9 {
    background-image: url("../../../assets/img/camisa.png");
    background-position: center;
    background-size: 100% 76%;
    background-repeat: no-repeat;
    position: absolute;
    width: 26%;
    height: 20%;
    top: 84%;
    left: 130%;
    transform: translate(-50%, -50%);
    background-blend-mode: screen;
}
.secondary-10 {
    background-image: url("../../../assets/img/camisa.png");
    background-position: center;
    background-size: 100% 76%;
    background-repeat: no-repeat;
    position: absolute;
    width: 26%;
    height: 20%;
    top: 35%;
    left: 195%;
    transform: translate(-50%, -50%);
    background-blend-mode: screen;
}
.secondary-11 {
    background-image: url("../../../assets/img/camisa.png");
    background-position: center;
    background-size: 100% 76%;
    background-repeat: no-repeat;
    position: absolute;
    width: 26%;
    height: 20%;
    top: 61%;
    left: 195%;
    transform: translate(-50%, -50%);
    background-blend-mode: screen;
}

.legend-team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;
}